<section class="footer-banner">
    <div class="container">
        <div class="footer-banner__inner">
            <div class="footer-banner__item">
                <div class="footer-banner__title">ПОКОРИ БЕЗДОРОЖЬЕ</div>
                <span class="footer-banner__slogan">Джиппинг круглый год!</span>
                <div class="footer-banner__box">
                    <a class="footer-banner__btn footer-banner__btn-rew" href="#">Отзывы клиентов</a>
                    <a class="footer-banner__btn footer-banner__btn-portfolio" href="#">Портфолио</a>
                </div>
            </div>

            <div class="footer-banner__item-season">
                <div class="footer-banner__items">
                    <svg width="104" height="104">
                        <use xlink:href="../images/icons/sprite.svg#autumn"></use>
                    </svg>
                    <span class="footer-banner__subtitle">Осень</span>
                </div>
                <div class="footer-banner__items">
                    <svg width="104" height="104">
                        <use xlink:href="../images/icons/sprite.svg#winter"></use>
                    </svg>
                    <span class="footer-banner__subtitle">Зимой</span>
                </div>
                <div class="footer-banner__items">
                    <svg width="104" height="104">
                        <use xlink:href="../images/icons/sprite.svg#spring"></use>
                    </svg>
                    <span class="footer-banner__subtitle">Весной</span>
                </div>
                <div class="footer-banner__items">
                    <svg width="82" height="82">
                        <use xlink:href="../images/icons/sprite.svg#summer"></use>
                    </svg>
                    <span class="footer-banner__subtitle">Летом</span>
                </div>
            </div>
        </div>
    </div>
</section>