<section class="bye-certificate">
    <div class="container">
        <h2 class="bye-certificate__title">КУПИТЬ СЕРТИФИКАТ В 2 КЛИКА</h2>
        <div class="bye-certificate__inner-2">
            <div class="bye-certificate__item-2">
                <div class="bye-certificate__box-2">
                    <img class="bye-certificate__img" src="../images/content/present.png" alt="present">
                    <div class="bye-certificate__name-2">Электронный сертификат</div>
                </div>
                <span class="bye-certificate__line"></span>
                <div class="bye-certificate__price-2">
                    <del class="bye-certificate__del-2">10000 р</del>
                    <ins class="bye-certificate__ins-2">7490 Р</ins>
                </div>
                <button class="bye-certificate__btn-2 btn__buy">
                    <svg width="44" height="44">
                        <use xlink:href="../images/icons/sprite.svg#cart"></use>
                    </svg>
                    <span>Купить</span>
                </button>
            </div>

            <div class="bye-certificate__content bye-certificate__content-2">
                <div class="bye-certificate__content-col">
                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-1.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">ГАРАНТИЯ КАЧЕСТВА</span>
                            <span class="bye-certificate__content-slogan">100% довольных клиентов</span>
                        </div>
                    </div>

                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-2.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">Нам 10 лет</span>
                            <span class="bye-certificate__content-slogan">Опыт - важная часть успеха</span>
                        </div>
                    </div>
                </div>

                <div class="bye-certificate__content-col">
                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-3.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">1 год</span>
                            <span class="bye-certificate__content-slogan">Действует сертификат</span>
                        </div>
                    </div>

                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-4.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">ДОСТОЙНАЯ УПАКОВКА</span>
                            <span class="bye-certificate__content-slogan">2 вида и электронный сертификат</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bye-certificate__descr">
            <h2 class="bye-certificate__title">Подробное описание</h2>
            <p class="bye-certificate__descr-text">
                Мы предлагаем вам самостоятельно за рулём подготовленных внедорожников пройти обучение основам
                внедорожного вождения. На сложных участках за рулём будет находиться наш инструктор, который покажет
                настоящий мастер-класс покорения бездорожья. Продолжительность мастер-класса 2,5 часа
            </p>
            <p class="bye-certificate__descr-text">
                Настоящие вездеходы, которые проедут топи и болота, крутые подъёмы и спуски, глубокие колеи и реки. Это
                автомобили, которым всё по плечу! Почему так? Потому что УАЗ изначально был создан как автомобиль для
                бездорожья, но нам этого не достаточно, мы доработали и улучшили конструкции стандартных авто, которые
                выходят с завода, увеличив дорожный просвет, диаметр колёс, выхлопную систему. Мы установили на наши
                автомобили тракторную резину, лебёдки и шноркели, чтобы иметь возможно проехать практически везде.
            </p>
            <p class="bye-certificate__descr-text">
                Вы не только весело и экстремально проведете время, но и получите навыки управления автомобилем на
                бездорожье!
            </p>
        </div>
    </div>
</section>