<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="footer-content__inner">
                <div class="footer-content__box">
                    <img class="footer__logo" src="../images/logo-footer.svg" alt="Logo">
                    <span class="footer__slogan">Проведение джип-туров - в любое время!</span>
                </div>

                <ul class="footer-contacts__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Главная
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Корпоративы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Трофи-Рейды
                        </a>
                    </li>
                </ul>

                <ul class="footer-contacts__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Галерея
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Правила оплаты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Правила возврата
                        </a>
                    </li>
                </ul>

                <ul class="footer-contacts__list">
                    <li class="footer-contacts__item footer-contacts__title">
                        Телефоны
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link footer-contacts__link-tel" href="tel:+74952660667">
                            +7 495 266-06-67
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link footer-contacts__link-tel" href="tel:+79688959759">
                            +7 968 895-97-59
                        </a>
                    </li>
                </ul>

                <ul class="footer-contacts__list">
                    <li class="footer-contacts__item footer-contacts__title">
                        время работы:
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link" href="#">
                            Пн-Пт с 10-00 до 20-00
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link" href="#">
                            Сб-Вс с 11-00 до 17-00
                        </a>
                    </li>
                </ul>

                <div class="footer-content__box">
                    <ul class="footer__social">
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="https://www.facebook.com/" target="_blank">
                                <svg width="41" height="40">
                                    <use xlink:href="../images/icons/sprite.svg#fb-footer"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="https://www.instagram.com/" target="_blank">
                                <svg width="41" height="40">
                                    <use xlink:href="../images/icons/sprite.svg#ins-footer"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="https://vk.com/" target="_blank">
                                <svg width="41" height="40">
                                    <use xlink:href="../images/icons/sprite.svg#vk-footer"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="https://www.youtube.com/" target="_blank">
                                <svg width="41" height="40">
                                    <use xlink:href="../images/icons/sprite.svg#youtube-footer"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <address class="footer-content__address">г. Бронницы, Каширский пер., д.66</address>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__copy">
            <span class="footer__copy-text">Trip club</span>
            <img class="footer__copy-img" src="../images/content/footer-cards.png" alt="Cards">
            <span class="footer__copy-desc">Copyright © 2009 – 2022</span>
        </div>
    </div>
</footer>