<section class="sertificate">
    <div class="container">
        <h2 class="sertificate__title">Напишите нам письмо прямо сейчас.</h2>
        <div class="sertificate__inner">
            <div class="sertificate__item">
                <form class="sertificate-form form" action="#">
                    <div class="sertificate__box sertificate__name">
                        <input class="sertificate__input form-element form__input" type="text"
                            placeholder="Ваше имя (обязательно)" required>
                    </div>
                    <div class="sertificate__box sertificate__email">
                        <input class="sertificate__input form-element form__input" type="email"
                            placeholder="Ваш e-mail (обязательно)" required>
                    </div>
                    <div class="sertificate__box sertificate__nmessage">
                        <textarea class="sertificate__textarea form-element form__textarea" name="contact-textarea"
                            id="textarea" placeholder="Комментарии и пожалания"></textarea>
                        <label class="sertificate-form__personal" for="personal">
                            <input class="filter__item-input" id="personal" type="checkbox">
                            <span class="filter__item-checkbox"></span>
                            <span class="filter__item-text">Даю согласие на обработку персональных данных.
                                Ознакомиться
                                с <a class="filter__personal-link" href="#">политикой конфиденциальности</a></span>
                        </label>
                        <input class="form__submit-btn" type="submit" value="Отправить">
                    </div>
                </form>
            </div>

            <div class="sertificate__item-box">
                <img class="sertificate__present-img" src="../images/content/present-big.png" alt="present">
                <div class="sertificate__item-price-box">
                    <span class="sertificate__item-text">Цена</span>
                    <span class="sertificate__item-price">7490 Р</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sertificate__info">
    <div class="container">
        <h2 class="hidden">Данный сертификат даёт право на короткий джип-тур</h2>
        <div class="sertificate__info-inner">
            <div class="sertificate__info-item">
                <img class="sertificate__present-img sertificate__present-img-sert"
                    src="../images/content/sertificate.jpg" alt="present">
            </div>
            <div class="sertificate__info-item">
                <ol class="sertificate__info-list">
                    <li class="sertificate__info-item">Сертификат с условиями и правилами приходит на электронную
                        почту после оплаты;</li>
                    <li class="sertificate__info-item">Сертификат в распечатанном виде необходимо предъявить перед
                        началом джип-тура;</li>
                    <li class="sertificate__info-item">Дополнительные услуги можно заказать заранее и оплатить
                        наличными деньгами на месте;</li>
                    <li class="sertificate__info-item">Никаких доплат от вас не потребуется;</li>
                </ol>
                <div class="sertificate__info-box">
                    <p class="sertificate__info-text">
                        Данный сертификат даёт право на короткий джип-тур продолжительностью 2,5-3 часа.Дата
                        проведения
                        джип-тура — любой день в течение срока действия сертификатаСрок действия сертификата — 1 год
                        со
                        дня покупки
                    </p>
                </div>
                <span class="sertificate__decor">ВНИМАНИЕ!</span>
                <ol class="sertificate__info-list">
                    <li class="sertificate__info-item">Указывайте только Ваш настоящий контактный телефон и Вашу
                        настоящую почту. На Вашу почту после оплаты придёт электронный сертификат.</li>
                    <li class="sertificate__info-item">Сразу после оплаты Вам придёт письмо с подтверждением оплаты
                        и
                        в течение 5 минут Вам на почту придёт электронный сертификат на джип-тур с уникальным
                        номером,
                        который зарегистрирован в нашей базе.</li>
                    <li class="sertificate__info-item">Вы можете купить сколько угодно сертификатов на джип-туры.
                    </li>
                </ol>
            </div>
        </div>
        <div class="sertificate__info-bottom">
            <span class="sertificate__info-bottom-title">Мы принимаем к оплате</span>
            <div class="sertificate__info-bottom-img-box">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/1.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/2.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/3.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/4.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/5.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/6.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/7.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/8.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/9.webp" alt="bank-card">
                <img class="sertificate__info-bottom-img" src="../images/content/banks/10.webp" alt="bank-card">
            </div>
        </div>
    </div>
</section>