<section class="activ-sertificate">
    <div class="container">
        <div class="activ-sertificate__inner">
            <div class="activ-sertificate__item-box">
                <p class="activ-sertificate__text">
                    Для <b>активации сертификата</b> вам необходимо заполнить форму справа ИЛИ позвонить нам
                </p>
                <div class="activ-sertificate__container">
                    <img class="activ-sertificate__img" src="../images/content/sertificate-big.jpg" alt="sertificate">
                    <div class="activ-sertificate__box">
                        <span class="activ-sertificate__btn activ-sertificate__btn-numb">Номер вашего
                            сертификата</span>
                        <span class="activ-sertificate__btn activ-sertificate__btn-date">Срок действия
                            сертификата</span>
                    </div>
                </div>
            </div>
            <div class="activ-sertificate__item">
                <form class="activ-sertificate-form form" action="#">
                    <div class="activ-sertificate__box sertificate__name">
                        <input class="activ-sertificate__input form-element form__input" type="text" placeholder="Имя">
                    </div>
                    <div class="activ-sertificate__box sertificate__email">
                        <input class="activ-sertificate__input form-element form__input" type="email"
                            placeholder="Email">
                    </div>
                    <div class="activ-sertificate__box sertificate__tel-numb">
                        <input class="activ-sertificate__input form-element form__input" type="text"
                            placeholder="Номер телефона">
                    </div>
                    <div class="activ-sertificate__box sertificate__date">
                        <input class="activ-sertificate__input form-element form__input" type="text"
                            placeholder="Дата проведения тура">
                    </div>
                    <div class="activ-sertificate__box sertificate__date">
                        <input class="activ-sertificate__input form-element form__input" type="text"
                            placeholder="Номер сертификата">
                    </div>
                    <div class="activ-sertificate__subtitle">Время начала</div>
                    <div class="activ-sertificate-box">
                        <label class="activ-sertificate__label" for="time1">
                            <input class="filter__item-input filter__item-radio" id="time1" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">09-00</span>
                        </label>
                        <label class="activ-sertificate__label" for="time2">
                            <input class="filter__item-input filter__item-radio" id="time2" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">10-00</span>
                        </label>
                        <label class="activ-sertificate__label" for="time3">
                            <input class="filter__item-input filter__item-radio" id="time3" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">11-00</span>
                        </label>
                        <label class="activ-sertificate__label" for="time4">
                            <input class="filter__item-input filter__item-radio" id="time4" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">12-00</span>
                        </label>
                        <label class="activ-sertificate__label" for="time5">
                            <input class="filter__item-input filter__item-radio" id="time5" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">13-00</span>
                        </label>
                        <label class="activ-sertificate__label" for="time6">
                            <input class="filter__item-input filter__item-radio" id="time6" name="time" type="radio">
                            <span class="filter__item-radio"></span>
                            <span class="filter__item-text">14-00</span>
                        </label>
                    </div>

                    <div class="sertificate__box sertificate__nmessage">
                        <textarea class="form-element form__textarea" name="contact-textarea" id="textarea"
                            placeholder="Комментарии и пожалания" value="">
                            </textarea>
                        <input class="form__submit-btn" type="submit" value="Отправить">
                    </div>
                </form>
            </div>
        </div>

        <div class="activ-sertificate__content">
            <h2 class="activ-sertificate__title">Правила проведения джип-туров:</h2>
            <ol class="activ-sertificate__list">
                <li class="activ-sertificate__items">Форма одежды участников: спортивно-туристическая. Желательно
                    наличие сменного комплекта.</li>
                <li class="activ-sertificate__items">Необходимо предварительное бронирование даты проведения
                    джип-тура за 2 дня. Для бронирования
                    необходимо позвонить по телефону: 8(495)920-82-54. Место встречи сообщается при бронировании
                    (карта
                    высылается по E-mail).</li>
                <li class="activ-sertificate__items">По окончании джип-тура участники доставляются на место
                    встречи.</li>
                <li class="activ-sertificate__items">Условия проведения для желающих управлять внедорожником:
                    трезвость участников, инструктаж по технике
                    безопасности перед началом джип-тура.</li>
                <li class="activ-sertificate__items">В машине, при проведении джип-тура присутствует опытный
                    профессиональный инструктор.</li>
                <li class="activ-sertificate__items">На маршруте возможны: овраги, броды, колеи, спуски, подъемы,
                    поболоченные участки и т.п.</li>
                <li class="activ-sertificate__items">Участник управляет автомобилем непосредственно по бездорожью.
                </li>
                <li class="activ-sertificate__items">Перед началом джип-тура для участников обязательно проводится
                    инструктаж по технике безопасности,
                    обращению с дополнительным оборудованием, и производится небольшой тест-драйв, для освоения
                    управления автомобилем перед поездкой. Отказ от прохождения инструктажа является основанием для
                    отмены тура без возврата денежных средств.</li>
                <li class="activ-sertificate__items">В связи с непредвиденными (форс-мажорными) обстоятельствами
                    возможен перенос даты джип-тура. В этом
                    случае участники ставятся в известность по телефонам.</li>
                <li class="activ-sertificate__items">Программа проводится круглогодично и при любых погодных
                    условиях. Отказ участников от поездки менее
                    чем за 24 часа, не является причиной переноса выезда на другую дату и тур считается
                    состоявшимся.
                </li>
                <li class="activ-sertificate__items">Управление автомобилем участниками возможно только в трезвом
                    виде. При наличии у инструктора
                    сомнений в трезвости участников, участникам будет предложено передать управление инструктору или
                    пройти медицинское освидетельствование. Если освидетельствование, проведенное в течение 2 часов
                    от
                    времени начала джип-тура выявит трезвость, то претензии компании можно считать необоснованными и
                    участникам будет предложено провести джип-тур в другой день.</li>
                <li class="activ-sertificate__items">Сертификат обмену и возврату не подлежит.</li>
                <li class="activ-sertificate__items">Техническим организатором компании «Trip Club» является «ИП
                    Филинкова М.А.»</li>
            </ol>
            <div class="activ-sertificate__info">
                <span class="activ-sertificate__info-item">ИНН 774314341838 </span>
                <span class="activ-sertificate__info-item">ОГРНИП 309774617601476</span>
            </div>
        </div>
    </div>
</section>