<section class="offer__slider">
    <div class="container">
        <h2 class="offer-slider__title">ЧТО МЫ ПРЕДЛАГАЕМ?</h2>
        <div class="offer-slider">
            <div class="swiper-wrapper offer-slider__inner">
                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off1"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Лихо покататься</h3>
                        <span class="offer-slider__desc">Подготовленные машины.Инструктаж</span>
                        <div class="offer-slider__item-decor"></div>
                    </div>
                </div>

                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off2"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Дружно поиграть</h3>
                        <span class="offer-slider__desc">Командные игры</span>
                    </div>
                </div>

                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off3"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Провести время с пользой</h3>
                        <span class="offer-slider__desc">Командообразующее мероприятие</span>
                    </div>
                </div>

                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off4"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Успешное мероприятие</h3>
                        <span class="offer-slider__desc">Проверьте наше портфолио</span>
                    </div>
                </div>

                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off3"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Провести время с пользой</h3>
                        <span class="offer-slider__desc">Командообразующее мероприятие</span>
                    </div>
                </div>

                <div class="swiper-slide offer-slider__item">
                    <div class="offer-slider__item-box">
                        <svg width="114" height="114">
                            <use xlink:href="../images/icons/sprite.svg#off4"></use>
                        </svg>
                        <h3 class="offer-slider__subtitle">Успешное мероприятие</h3>
                        <span class="offer-slider__desc">Проверьте наше портфолио</span>
                    </div>
                </div>
            </div>
            <div class="swiper-button swiper-button-prev">
                <svg width="34" height="26" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33 13H1M1 13L17.124 1M1 13L17.124 25" stroke="#FFAF3E" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="swiper-button swiper-button-next">
                <svg width="34" height="26" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13H33M33 13L16.876 1M33 13L16.876 25" stroke="#FFAF3E" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="offer-slider__info">
            <div class="offer-slider__box">
                <p class="offer-slider__slogan">
                    НАШИ ИСКЛЮЧИТЕЛЬНЫЕ ПРЕДЛОЖЕНИЯ ДЛЯ КОРПОРАТИВНЫХ КЛИЕНТОВ. БИЗНЕС, РАЗВЛЕЧЕНИЮ НЕ ПОМЕХА!
                </p>
                <p class="offer-slider__text">
                    Если цель вашего корпоративного отдыха не только прокатиться на заряженных внедорожниках и весело
                    провести время, но и сплотить ваш коллектив, чтобы его работа стала более слаженной, а значит более
                    эффективной, то рекомендуем обратить свое внимание на такие корпоративные мероприятия, как
                    ориентирование на местности или «квесты».
                </p>
            </div>
            <h2 class="offer-slider__info-title">КОМАНДА ЧЕМПИОНОВ В ПОИСКАХ ГРААЛЯ</h2>
        </div>
    </div>
</section>

<section class="orientation-top">
    <div class="container">
        <h2 class="orientation-top__title">ОРИЕНТИРОВАНИЕ</h2>
        <div class="orientation-top__box">
            <span> КВЕСТЫ НА БЕЗДОРОЖЬЕ СПОРТИВНЫЕ ИГРЫ</span>
            <span>Сплотить команда и добиться успеха</span>
        </div>
    </div>
</section>

<section class="orientation">
    <div class="container">
        <div class="orientation__content">
            <img class="orientation__content-img" src="../images/content/orien.jpg" alt="orien">
            <div class="orientation__content-box">
                <div class="orientation__btn-box">
                    <button class="orientation__btn active">Трофи</button>
                    <button class="orientation__btn">Дополнительно</button>
                </div>
                <p class="orientation__content-text">
                    Трофи ориентирование или спортивное ориентирование на внедорожниках — это игра, направленная на
                    командообразование. Ваши сотрудники разбиваются на команды по 3 человека (один из них должен иметь
                    права категории «В»), им выдаётся карта местности, компас и карта с обозначенными точками, каждая
                    команда должна найти указанные точки в отведенное время. Команды стартуют одновременно или с
                    небольшими интервалами друг от друга.
                    Данная игра позволяет найти взаимопонимание, ближе узнать друг друга, построить слаженную команду.
                    Очень хорошо составлять команды из людей, работающих в разных отделах вашей фирмы.
                    <span>
                        ИНТЕРЕСУЮЩИЕ ВАС ПОДРОБНОСТИ МОГУТ БЫТЬ<br>
                        УТОЧНЕНЫ У НАШЕГО СПЕЦИАЛИСТА,<br>
                        МЫ ВСЕГДА РАДЫ ПОМОЧЬ ВАМ.
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="quests">
    <div class="container">
        <h2 class="quests__title">Квест</h2>
        <div class="quests__top">
            <p class="quests__top-text">
                Наш клуб предлагает абсолютно новый формат отдыха! Квесты – модный и уникальный способ провести
                мероприятие или просто выходные в компании друзей. Чтобы игра стала ещё интереснее, все наши квесты
                имеют оригинальные и захватывающие сюжеты.
            </p>
            <p class="quests__top-text">
                Автоквест – это командная игра на интеллект, эрудицию, сообразительность и навыки вождения. Задача
                команды решить интеллектуальную задачку, ответ на которую даст вам точку на карте, на которую вам
                следует отправиться, чтобы выполнить задание. Чем быстрее вы будете решать задачи, и перемещаться от
                точки к точке, тем вероятнее вы победите!
                Автоквесты бывают 2-х типов – это ситиквесты, которые проходят в городе, и offroad-квесты, т.е. квест по
                бездорожью.
            </p>
        </div>

        <div class="quests__content">
            <div class="quests__item">
                <div class="quests__subtitle">КВЕСТ НА ДЖИПАХ</div>
                <p class="quests__text">
                    Квест по бездорожью станет прекрасным дополнением к корпоративному мероприятию. Если ваша задача не
                    только покататься на джипах и получить удовольствие от преодоления бездорожья, но и улучшить
                    атмосферу в коллективе, то смело останавливайте свой выбор на квесте!
                </p>
                <span class="quests__item-title">«Плюсы» корпоратива с квестом:</span>
                <ul>
                    <li class="quests__item">Любая продолжительность: от 2-х часов, до 2-х недель;</li>
                    <li class="quests__item">Индивидуальные сюжеты: вы можете выбрать уже готовый сюжет для квеста или
                        мы специально для вас создадим новый сюжет, который идеально подойдёт для вашей компании!</li>
                    <li class="quests__item">Размер команд выбираете вы. Команда может состоять от 2-х до 12 человек;
                    </li>
                    <li class="quests__item">Командообразующая составляющая: команды вынуждены быстро ориентироваться в
                        заданных вопросах, принимать рисковые решения, совместными усилиями преодолевать препятствия на
                        пути. Азарт игры захватывает всех участников, не оставляя никого равнодушным к игре.</li>
                    <li class="quests__item">Новые навыки: любой квест на бездорожье основан на принципе спортивного
                        ориентирования на местности, подробнее про который вы можете прочитать тут.</li>
                </ul>
                <a class="quests__link" href="#">К списку Джип-туров</a>
            </div>

            <div class="quests__item">
                <div class="quests__subtitle">КВЕСТ ПО ГОРОДУ</div>
                <p class="quests__text">
                    Квест по бездорожью станет прекрасным дополнением к корпоративному мероприятию. Если ваша задача не
                    только покататься на джипах и получить удовольствие от преодоления бездорожья, но и улучшить
                    атмосферу в коллективе, то смело останавливайте свой выбор на квесте!
                </p>
                <span class="quests__item-title">«Плюсы» корпоратива с квестом:</span>
                <ul>
                    <li class="quests__item">Любая продолжительность: от 2-х часов, до 2-х недель;</li>
                    <li class="quests__item">Индивидуальные сюжеты: вы можете выбрать уже готовый сюжет для квеста или
                        мы специально для вас создадим новый сюжет, который идеально подойдёт для вашей компании!</li>
                    <li class="quests__item">Размер команд выбираете вы. Команда может состоять от 2-х до 12 человек;
                    </li>
                    <li class="quests__item">Командообразующая составляющая: команды вынуждены быстро ориентироваться в
                        заданных вопросах, принимать рисковые решения, совместными усилиями преодолевать препятствия на
                        пути. Азарт игры захватывает всех участников, не оставляя никого равнодушным к игре.</li>
                    <li class="quests__item">Новые навыки: любой квест на бездорожье основан на принципе спортивного
                        ориентирования на местности, подробнее про который вы можете прочитать тут.</li>
                </ul>
                <a class="quests__link" href="#">Дополнительные программы</a>
            </div>
        </div>
    </div>
</section>