<section class="team">
    <div class="container">
        <h2 class="team__title">Наша Команда</h2>
        <div class="team__inner">
            <div class="team__item">
                <img class="team__img" src="../images/content/team1.webp" alt="Мария Филинкова">
                <div class="team__box">
                    <h3 class="team__name">Мария Филинкова</h3>
                    <span>ДИРЕКТОР ПО РАЗВИТИЮ</span>
                </div>
                <p class="team__text">
                    Мария пришла в мир джиппинга в 2013 году и задержалась надолго. Сейчас Мария знает размеры и
                    марки
                    всех колёс, разбирается в поломках и может одеть резину на диск только с домкратом и WD-40.
                    Мария
                    делает самые интересные и сложные корпоративы и всегда присутствует на них.
                </p>
            </div>

            <div class="team__item">
                <img class="team__img" src="../images/content/team2.webp" alt="Мария Филинкова">
                <div class="team__box">
                    <h3 class="team__name">Денис Вишневский</h3>
                    <span class="team__subname">Генеральный ДИРЕКТОР</span>
                </div>
                <p class="team__text">
                    Денис сколько себя помнит занимается машинами, но с 2003 года увлекается только внедорожниками и
                    бездорожьем. Является самым опытным инструктором, обучает новичков, выявляет самые непонятные
                    поломки и знает самые грязные уголки не только России, но и Европы
                </p>
            </div>
        </div>
    </div>
</section>

<section class="team__slider">
    <div class="container">
        <h2 class="team__title">ИНСТРУКТОРА И ИХ МАШИНЫ</h2>
        <div class="team-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide team__slider-box">
                    <div class="team__slider-user">
                        <img class="team__slider-box-img" src="../images/content/team3.webp" alt="Александр">
                        <div class="team__slider-box-info">
                            <span class="team__slider-name">Александр</span>
                            <span class="team__slider-slogan">Toyota Land cruiser 80</span>
                            <p class="team__slider-text">
                                Александр уже больше 10 лет занимается профессиональным джиппингом. О самый старший
                                в
                                нашей
                                компании и иногда мы называем его дедушкой. Александр улыбчивый и очень добрый, в
                                его
                                машине
                                всегда царит мир и покой.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide team__slider-box">
                    <img class="team__slider-box-img" src="../images/content/team4.webp" alt="slider">
                    <img class="team__slider-box-img" src="../images/content/team5.webp" alt="slider">
                </div>
                <div class="swiper-slide team__slider-box">
                    <img class="team__slider-box-img" src="../images/content/team6.webp" alt="slider">
                </div>
                <div class="swiper-slide team__slider-box">
                    <div class="team__slider-user">
                        <img class="team__slider-box-img" src="../images/content/team3.webp" alt="Александр">
                        <div class="team__slider-box-info">
                            <span class="team__slider-name">Александр</span>
                            <span class="team__slider-slogan">Toyota Land cruiser 80</span>
                            <p class="team__slider-text">
                                Александр уже больше 10 лет занимается профессиональным джиппингом. О самый старший
                                в
                                нашей
                                компании и иногда мы называем его дедушкой. Александр улыбчивый и очень добрый, в
                                его
                                машине
                                всегда царит мир и покой.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide team__slider-box">
                    <img class="team__slider-box-img" src="../images/content/team4.webp" alt="slider">
                    <img class="team__slider-box-img" src="../images/content/team5.webp" alt="slider">
                </div>
                <div class="swiper-slide team__slider-box">
                    <img class="team__slider-box-img" src="../images/content/team6.webp" alt="slider">
                </div>
            </div>
            <div class="swiper-button swiper-button-prev">
                <svg width="34" height="26" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33 13H1M1 13L17.124 1M1 13L17.124 25" stroke="#FFAF3E" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="swiper-button swiper-button-next">
                <svg width="34" height="26" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13H33M33 13L16.876 1M33 13L16.876 25" stroke="#FFAF3E" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="team__gallery">
    <h2 class="gallery__title team__title ">Галерея</h2>
    <div class="team__gallery-inner">
        <img class="team__gallery-img" src="../images/content/gallery/1.webp" alt="КОМАНДА Trip Club">
        <img class="team__gallery-img" src="../images/content/gallery/2.webp" alt="КОМАНДА Trip Club">
        <img class="team__gallery-img" src="../images/content/gallery/3.webp" alt="КОМАНДА Trip Club">
        <img class="team__gallery-img" src="../images/content/gallery/4.webp" alt="КОМАНДА Trip Club">
        <img class="team__gallery-img" src="../images/content/gallery/5.webp" alt="КОМАНДА Trip Club">
    </div>
</section>