<section class="contact-top">
    <div class="container">
        <h2 class="contact-top__title">Контактна я информация</h2>
        <div class="contact-top__inner">
            <div class="contact-top__item">
                <h3 class="contact-top__subtitle">Телефон</h3>
                <div class="contact-top__item-box contact-top__pnone-box">
                    <a class="contact-top__phone" href="tel:+74952660667">+7 495 266-06-67</a>
                    <a class="contact-top__phone" href="tel:+79688959759">+7 968 895-97-59</a>
                </div>
            </div>

            <div class="contact-top__item">
                <h3 class="contact-top__subtitle">Время работы</h3>
                <div class="contact-top__item-box contact-top__time-box">
                    <span>Ежедневно</span>
                    <span class="contact-top__time">с 10:00 до 20:00</span>
                </div>
            </div>

            <div class="contact-top__item">
                <h3 class="contact-top__subtitle">Адрес офиса</h3>
                <address class="contact-top__item-box contact-top__address">
                    г. Москва, 2-я Хуторская ул., д.38А стр.17, офис 216
                </address>
            </div>

            <div class="contact-top__item">
                <h3 class="contact-top__subtitle">Место встречи</h3>
                <address class="contact-top__item-box contact-top__address-palce">
                    г. Бронницы, Каширский пер., д.66
                </address>
            </div>
        </div>
    </div>
</section>

<section class="contact-address">
    <div class="container">
        <h2 class="contact-address__title">НАШИ ДЖИП-ТУРЫ МОЖНО КУПИТЬ ПО АДРЕСАМ:</h2>
        <div class="contact-address__inner">
            <address class="contact-address__item">
                г. Москва, 2-я Хуторская ул., д.38А стр.17,
                офис 216 (нужен звонок заранее, чтобы мы
                заказали пропуск
            </address>

            <address class="contact-address__item">
                г. Москва, 3-я улица Ямского Поля, д.2,
                корп. 26, подъезд №1, Офис компании
                <a class="address__link-nofollow" rel="nofollow" href="www.zakazpodarka.ru"
                    target="_blank">www.zakazpodarka.ru</a>
            </address>

            <address class="contact-address__item">
                г. Москва, ул. Скаковая д. 17, стр.1 Офис
                компании <a class="address__link-nofollow" rel="nofollow" href="PRESENTSTAR.RU"
                    target="_blank">PRESENTSTAR.RU</a>
            </address>
        </div>
    </div>
</section>

<section class="contact-delivery">
    <div class="container">
        <div class="contact-delivery__inner">
            <div class="contact-delivery__item">
                <h2 class="contact-delivery__title">ДОСТАВКА И ОПЛАТА</h2>
                <p class="contact-delivery__text">
                    Мы доставляем наши сертификаты ежедневно, даже в выходные дни! Звоните нам с 10:00
                    до 20:00.Доставим на следующий день после заказа,в пределах МКАД — бесплатно.За
                    пределами МКАД – по договорённости
                </p>
                <p class="contact-delivery__text">Также у нас есть ЭКСПРЕСС-доставка! СтоимостьЭКСПРЕСС-доставки – 500
                    руб.
                </p>
                <p class="contact-delivery__text">При покупке сертификата на джип-тур, вы можете воспользоваться
                    следующими
                    способами оплаты:
                </p>
                <ul class="contact-delivery__list">
                    <li class="contact-delivery__list-item list-item">наличными курьеру;</li>
                    <li class="contact-delivery__list-item list-item">через наш он-лайн магазин (10 вариантов оплаты);
                    </li>
                    <li class="contact-delivery__list-item list-item">безналично по выставленному счёту;</li>
                </ul>
            </div>

            <div class="contact-delivery__item">
                <p class="contact-delivery__text">
                    <strong>Владельцем прав и техническим организатором</strong> компании TRIP CLUB является
                    ИП Филинкова М.А.
                </p>
                <ul class="contact-delivery__list">
                    <li class="contact-delivery__items">ИНН 774314341838</li>
                    <li class="contact-delivery__items">ОГРНИП 309774617601476</li>
                    <li class="contact-delivery__items">Дата регистрации: 25.06.2009г.</li>
                    <li class="contact-delivery__items">Почтовый адрес: 127299, г.Москва, Вокзальный пер. д.8, к.2,
                        кв.99
                    </li>
                </ul>
                <div class="contact-delivery__numb">
                    <span class="contact-delivery__slogan">Расчётный счёт в валюте РФ</span>
                    <span class="contact-delivery__card"><strong>40802810002590000442</strong></span>
                </div>
                <h3 class="contact-delivery__subtitle">Банк получателя</h3>
                <div class="contact-delivery__info">
                    <div class="div1">Наименование банка получателя АО</div>
                    <div class="contact-delivery__info-item div2">ИНН банка</div>
                    <div class="contact-delivery__info-item div3">ОГРН банка </div>
                    <div class="contact-delivery__info-item div4">БИК</div>
                    <div class="contact-delivery__info-item div5">Корр. Счёт в ОПЕРУ МОСКВА</div>
                    <div class="contact-delivery__info-item div6"><strong>«АЛЬФА-БАНК»</strong></div>
                    <div class="contact-delivery__info-item div7"><strong>7728168971</strong></div>
                    <div class="contact-delivery__info-item div8"><strong>1027700067328</strong></div>
                    <div class="contact-delivery__info-item div9"><strong>044525593</strong></div>
                    <div class="contact-delivery__info-item div10"><strong>30101810200000000593</strong></div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="contact__form">
    <div class="container">
        <h2 class="contact__form-title">Напишите нам письмо прямо сейчас.</h2>
        <form class="contact-form form" action="#">
            <div class="contact-form__box contact-form__name">
                <input class="contact-form__input form-element form__input" type="text" placeholder="Имя">
            </div>
            <div class="contact-form__box contact-form__email">
                <input class="contact-form__input form-element form__input" type="email" placeholder="Email">
            </div>
            <div class="contact-form__box contact-form__nmessage">
                <textarea class="contact-form__textarea form-element form__textarea" name="contact-textarea"
                    id="textarea" placeholder="Сообщение"></textarea>
                <input class="form__submit-btn" type="submit" value="Отправить">
            </div>
        </form>
    </div>
</section>