<section class="offer">
    <div class="container">
        <h2 class="offer__title">предложение от команды <span>TRIPCLUB</span></h2>
        <div class="offer__inner">
            <div class="offer__slider">
                <div class="box">
                    <img src="../images/slider/2.jpg" alt="1">
                    <img src="../images/slider/3.jpg" alt="1">
                    <img src="../images/slider/4.jpg" alt="1">
                    <img src="../images/slider/5.jpg" alt="1">
                    <img src="../images/slider/6.jpg" alt="1">
                </div>
                <img src="../images/slider/1.jpg" alt="1">
            </div>
            <div class="offer__slider-info">
                <h3 class="offer__slider-title">В программу включено</h3>
                <ul class="offer__slider-list">
                    <li class="offer__slider-item list-item">Демонстрационный заезд с инструктором</li>
                    <li class="offer__slider-item list-item">Самостоятельное управление автомобилем</li>
                    <li class="offer__slider-item list-item">Обучение вождению на различных типах покрытий</li>
                    <li class="offer__slider-item list-item">Защитная спецодежда</li>
                    <li class="offer__slider-item list-item">Специально подготовленная трасса для преодоления
                        препятствий</li>
                    <li class="offer__slider-item list-item">365 дней в году, 3 участника</li>
                </ul>
                <div class="offer__slider-info-box">
                    <a class="offer__slider-link offer__slider-rew" href="#">
                        <svg width="44" height="44">
                            <use xlink:href="../images/icons/sprite.svg#users-btn"></use>
                        </svg>
                        <span>Отзывы</span>
                    </a>
                    <a class="offer__slider-link offer__slider-prev" href="#">Вернуться к списку джип туров</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bye-certificate">
    <div class="container">
        <h2 class="bye-certificate__title">КУПИТЬ СЕРТИФИКАТ В 2 КЛИКА</h2>
        <div class="bye-certificate__inner">
            <div class="bye-certificate__item">
                <div class="bye-certificate__box">
                    <img class="bye-certificate__img" src="../images/content/present.png" alt="present">
                    <div class="bye-certificate__name">Электронный сертификат</div>
                </div>
                <span class="bye-certificate__line"></span>
                <div class="bye-certificate__price">
                    <del class="bye-certificate__del">10000 р</del>
                    <ins class="bye-certificate__ins">7490 Р</ins>
                </div>
                <button class="bye-certificate__btn btn__buy">
                    <svg width="44" height="44">
                        <use xlink:href="../images/icons/sprite.svg#cart"></use>
                    </svg>
                    <span>Купить</span>
                </button>
            </div>

            <div class="bye-certificate__content">
                <div class="bye-certificate__content-col">
                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-1.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">ГАРАНТИЯ КАЧЕСТВА</span>
                            <span class="bye-certificate__content-slogan">100% довольных клиентов</span>
                        </div>
                    </div>

                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-2.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">Нам 10 лет</span>
                            <span class="bye-certificate__content-slogan">Опыт - важная часть успеха</span>
                        </div>
                    </div>
                </div>

                <div class="bye-certificate__content-col">
                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-3.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">1 год</span>
                            <span class="bye-certificate__content-slogan">Действует сертификат</span>
                        </div>
                    </div>

                    <div class="bye-certificate__content-item">
                        <img src="../images/icons/certificate-4.svg" alt="certificate">
                        <div class="bye-certificate__content-box">
                            <span class="bye-certificate__content-title">ДОСТОЙНАЯ УПАКОВКА</span>
                            <span class="bye-certificate__content-slogan">2 вида и электронный сертификат</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bye-certificate__descr">
            <h2 class="bye-certificate__title">Подробное описание</h2>
            <p class="bye-certificate__descr-text">
                Мы предлагаем вам самостоятельно за рулём подготовленных внедорожников пройти обучение основам
                внедорожного вождения. На сложных участках за рулём будет находиться наш инструктор, который покажет
                настоящий мастер-класс покорения бездорожья. Продолжительность мастер-класса 2,5 часа
            </p>
            <p class="bye-certificate__descr-text">
                Настоящие вездеходы, которые проедут топи и болота, крутые подъёмы и спуски, глубокие колеи и реки. Это
                автомобили, которым всё по плечу! Почему так? Потому что УАЗ изначально был создан как автомобиль для
                бездорожья, но нам этого не достаточно, мы доработали и улучшили конструкции стандартных авто, которые
                выходят с завода, увеличив дорожный просвет, диаметр колёс, выхлопную систему. Мы установили на наши
                автомобили тракторную резину, лебёдки и шноркели, чтобы иметь возможно проехать практически везде.
            </p>
            <p class="bye-certificate__descr-text">
                Вы не только весело и экстремально проведете время, но и получите навыки управления автомобилем на
                бездорожье!
            </p>
        </div>
    </div>
</section>

<section class="package">
    <div class="container">
        <div class="package__title">Как выглядит упаковка</div>
        <div class="package__inner">
            <div class="package__item">
                <img src="../images/content/class/1.jpg" alt="class">
                <div class="package__item-content">
                    <h3 class="package__subtitle">Подарочный сертификат</h3>
                    <p class="package__text">
                        Сертификат выполнен на дорогой дизайнерской бумаге цвета слоновой кости. Упакован в стильный
                        конверт с тиснением, запаянный сургучной печатью с логотипом нашей компании.
                    <p class="package__text">
                        Сертификат содержит название подарка, описание джип-тура, наши рекомендации, уникальный номер и
                        дату окончания действия.
                    </p>
                </div>

                <button class="package__btn btn__buy">
                    <svg width="44" height="44">
                        <use xlink:href="../images/icons/sprite.svg#cart"></use>
                    </svg>
                    <span>Заказать</span>
                </button>
            </div>

            <div class="package__item">
                <img src="../images/content/class/2.jpg" alt="class">
                <div class="package__item-content">
                    <h3 class="package__subtitle">Электронный сертификат</h3>
                    <p class="package__text">
                        Сертификат выполнен в фирменном стиле нашей компании, его можно отправить по электронной почте
                        или распечатать на принтере.
                        Сертификат содержит название подарка, описание джип-тура, наши рекомендации, уникальный номер и
                        дату окончания действия.
                    </p>
                </div>

                <button class="package__btn btn__buy">
                    <svg width="44" height="44">
                        <use xlink:href="../images/icons/sprite.svg#cart"></use>
                    </svg>
                    <span>Заказать</span>
                </button>
            </div>

            <div class="package__item">
                <img src="../images/content/class/3.jpg" alt="class">
                <div class="package__item-content">
                    <h3 class="package__subtitle">Подарочная карта</h3>
                    <p class="package__text">
                        Карта выполнена из пластика и закреплена на конверте, выполненном в фирменном стиле нашей
                        компании.
                    <p class="package__text">
                        Карты номиналом 5000, 10000 и 15000. Их можно использовать для оплаты любых наших услуг. вы
                        можете приобрести любое количество карт и суммировать их стоимость при заказе услуг.
                    </p>
                </div>

                <button class="package__btn btn__buy">
                    <svg width="44" height="44">
                        <use xlink:href="../images/icons/sprite.svg#cart"></use>
                    </svg>
                    <span>Заказать</span>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="description">
    <div class="container">
        <div class="package__title">Подробное описание</div>
        <div class="description__inner">
            <div class="description__item">
                <h3 class="description__subtitle">ВЫБИРАЕТЕ ПОДАРОЧНЫЙ СЕРТИФИКАТ</h3>
                <span class="description__slogan">Будни или выходные?</span>
                <ul class="description__list">
                    <li class="description__list-item list-item">Любой будний день в течение года (экономия 1000
                        рублей!)
                    </li>
                    <li class="description__list-item">ИЛИ</li>
                    <li class="description__list-item list-item">Любой день в течение года</li>
                </ul>
            </div>

            <div class="description__item">
                <h3 class="description__subtitle">Дарите</h3>
                <p class="description__text">Выбираете из 3-х вариантов упаковки, подарочный конверт
                    или on-line сертификат
                </p>
            </div>

            <div class="description__item">
                <h3 class="description__subtitle">ПОЛУЧАТЕЛЬ ПОДАРКА АКТИВИРУЕТ СЕРТИФИКАТ</h3>
                <p class="description__text">
                    Сертификат действителен в течение 1 года с момента продажи.
                    Получатель сам выбирает дату и время проведения, позвонив
                    по телефону + 7 (495) 940-82-54 или on-line на сайте.
                </p>
            </div>

            <div class="description__item">
                <h3 class="description__subtitle">НЕЗАБЫВАЕМЫЕ ВПЕЧАТЛЕНИЕ ГАРАНТИРОВАНЫ</h3>
                <p class="description__text">
                    Обладатель подарка получает массу положительных эмоций и благодарит вас за доставленное удовольствие
                </p>
            </div>
        </div>
        <div class="rewievs">
            <h2 class="rewievs__title">Отзывы участников наших джип-туров</h2>
            <a class="rewievs__btn" href="#">
                <svg width="44" height="44">
                    <use xlink:href="../images/icons/sprite.svg#users-btn"></use>
                </svg>
                <span>Больше отзывов</span>
            </a>
        </div>
    </div>
</section>

<section class="importantly">
    <div class="container">
        <div class="importantly__inner">
            <h2 class="importantly__title">ЧТО ВАЖНО ЗНАТЬ</h2>
            <div class="importantly__box">
                <div class="importantly__col">
                    <ul class="importantly__list">
                        <li class="importantly__item list-item">Сертификат действителен в течение года</li>
                        <li class="importantly__item list-item">Вы можете с собой взять ещё 2-х человек</li>
                        <li class="importantly__item list-item">Бронирование не менее чем за сутки</li>
                    </ul>
                    <a class="importantly__btn" href="#">Вернуться к списку джип
                        туров</a>
                </div>
                <div class="importantly__col">
                    <ul class="importantly__list">
                        <li class="importantly__item list-item">Мастер-классы проводятся круглогодично</li>
                        <li class="importantly__item list-item">Продолжительность мастер-класса 2,5-3 часа</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <div class="cercle">
    <div class="cercle-halo">
        <div class="cercle-border"></div>
    </div>
</div> -->