<section class="competitions-top">
  <div class="container">
    <h2 class="competitions-top__title"><span>ТРОФИ-СОРЕВНОВАНИЕ НА</span> ВНЕДОРОЖНИКА</h2>

    <div class="competitions__benefits">
      <div class="competitions__benefits-item">
        <img class="competitions__benefits-icon" src="../images/icons/users.svg" alt="Иконка" />
        <div class="competitions__benefits-caption">9-100 УЧАСТНИКОВ</div>
        <ul class="competitions__benefits-list">
          <li class="competitions__benefits-items">Сплотить коллектив</li>
          <li class="competitions__benefits-items">Выявить сильные стороны</li>
          <li class="competitions__benefits-items">Участники любого возраста</li>
          <li class="competitions__benefits-items">Необязательно наличие прав</li>
        </ul>
      </div>
      <div class="competitions__benefits-item">
        <img class="competitions__benefits-icon" src="../images/icons/finger-up.svg" alt="Иконка" />
        <div class="competitions__benefits-caption">НЕВЕРОЯТНЫЕ ВПЕЧАТЛЕНИЯ</div>
        <ul class="competitions__benefits-list">
          <li class="competitions__benefits-items">Командная игра</li>
          <li class="competitions__benefits-items">Новый опыт для любого</li>
          <li class="competitions__benefits-items">Участники сами за рулём внедорожников</li>
        </ul>
      </div>
      <div class="competitions__benefits-item">
        <img class="competitions__benefits-icon" src="../images/icons/weather.svg" alt="Иконка" />
        <div class="competitions__benefits-caption">КРУГЛЫЙ ГОД</div>
        <ul class="competitions__benefits-list">
          <li class="competitions__benefits-items">Более 10 трасс</li>
          <li class="competitions__benefits-items">В любую погоду</li>
          <li class="competitions__benefits-items">Разные уровни сложности</li>
        </ul>
      </div>
    </div>

    <div class="competitions__content">
      <h2 class="competitions__content-title">КОМАНДА ЧЕМПИОНОВ <span>В ПОИСКАХ ГРААЛЯ</span></h2>
      <p class="competitions__content-text">
        Наши исключительные предложения для корпоративных клиентов. бизнес, развлечению не
        помеха!Если цель вашего корпоративного отдыха не только прокатиться на заряженных
        внедорожниках и весело провести время,но и сплотить ваш коллектив, чтобы его работа стала
        более слаженной,а значит более эффективной, то рекомендуем обратить свое внимание на такие
        корпоративные мероприятия,как ориентирование на местности.
      </p>
    </div>
  </div>
</section>

<div class="competitions__banner">
  <div class="competitions__banner-title">ОРИЕНТИРОВАНИЕ</div>
</div>

<section class="competitions-trophy trophy">
  <div class="container">
    <div class="trophy-top">
      <h2 class="trophy-top__title"><span>ТРОФИ</span></h2>
      <p class="trophy-top__text">
        Трофи-соревнования давно проводятся во всём мире. Первые и самые знаменитые — это CAMEL
        TROPHY,которые проходили в дебрях Амазонки. Наши соревнования, конечно же не заедут так
        далеко,но и в Подмосковье можно найти достойные препятствия для преодоления на
        подготовленных внедорожниках.Наше русское бездорожье достойный соперник зарубежного
        представителя. У нас глинистые почвы, разветвленная сеть рек и ручьёв,а главное
        непредсказуемая погода, которая способствует усложнению и так непростой задачи.Соревнования
        на внедорожниках — это прекрасная альтернатива ресторану или другим уже набившим оскомину
        корпоративным и тимбилдинг-мероприятиям
      </p>
    </div>

    <div class="trophy__inner">
      <div class="trophy__item">
        <div class="trophy__img-box">
          <img
            class="trophy__img"
            src="../images/content/competitions/1.webp"
            alt="Cпортивное ориентирование на внедорожниках"
          />
        </div>

        <div class="trophy__box trophy__box-left">
          <div class="trophy__caption">ТРОФИ</div>
          <p class="trophy__text">
            Трофи ориентирование или спортивное ориентирование на внедорожниках — это игра,
            направленная на командообразование. Ваши сотрудники разбиваются на команды по 3 человека
            (один из них должен иметь права категории «В»), им выдаётся карта местности, компас и
            карта с обозначенными точками, каждая команда должна найти указанные точки в отведенное
            время. Команды стартуют одновременно или с небольшими интервалами друг от друга. Данная
            игра позволяет найти взаимопонимание, ближе узнать друг друга, построить слаженную
            команду. Очень хорошо составлять команды из людей, работающих в разных отделах вашей
            фирмы.
          </p>
        </div>
      </div>

      <div class="trophy__item">
        <div class="trophy__box trophy__box-right">
          <div class="trophy__caption">ДОПОЛНИТЕЛЬНО</div>
          <p class="trophy__text">
            Также, в квест можно включить элементы полосы препятствий или индивидуальные зачёты для
            капитанов и других членов команды.
          </p>
          <p class="trophy__text">
            Дополнительно к ориентированию на местности мы можем предложить стрельбы по мишеням из
            арбалета, лука или пневматических винтовок.
          </p>
          <p class="trophy__text">
            Стоимость составления квеста зависит от его сложности, наполненности и протяженности.
          </p>
        </div>

        <div class="trophy__img-box">
          <img
            class="trophy__img"
            src="../images/content/competitions/2.webp"
            alt="Cтрельбы по мишеням"
          />
        </div>
      </div>
    </div>

    <p class="trophy__bottom-text">
      *ИНТЕРЕСУЮЩИЕ ВАС ПОДРОБНОСТИ МОГУТ БЫТЬ УТОЧНЕНЫ У НАШЕГО СПЕЦИАЛИСТА, МЫ ВСЕГДА РАДЫ ПОМОЧЬ
      ВАМ
    </p>
  </div>
</section>

<section class="competitions-feedback feedback">
  <div class="container">
    <h2 class="feedback__title">ОБРАТНАЯ СВЯЗЬ</h2>
    <p class="feedback__slogan">
      Оставьте ваши контактные данные и наш консультант свяжется с вами
    </p>

    <form class="feedback-form" action="#">
      <div class="feedback-form__box feedback-form__name">
        <input
          class="feedback-form__input form-element form__input"
          type="text"
          placeholder="Ваше имя (обязательно)"
          required
        />
      </div>
      <div class="feedback-form__box feedback-form__email">
        <input
          class="feedback-form__input form-element form__input"
          type="email"
          placeholder="Ваш e-mail (обязательно)"
          required
        />
      </div>
      <textarea
        class="feedback-form__textarea form-element form__textarea"
        name="feedback-textarea"
        placeholder="Дополнительная информация"
      ></textarea>

      <label class="sertificate-form__personal" for="personal">
        <input class="filter__item-input" id="personal" type="checkbox" checked />
        <span class="filter__item-checkbox"></span>
        <span class="filter__item-text"
          >Даю согласие на обработку персональных данных. Ознакомиться с
          <a class="filter__personal-link" href="#">политикой конфиденциальности</a></span
        >
      </label>
      <input class="feedback-form__submit-btn form__submit-btn" type="submit" value="Отправить" />
    </form>
  </div>
</section>

<section class="competitions-corporate corporate">
  <div class="container">
    <h2 class="corporate__title">Как проходят <span>корпоративные соревнования на джипах</span></h2>
    <div class="corporate__inner">
      <div class="corporate__item">
        <div class="corporate__box">
          <div class="corporate__caption">РАЗБИВАЕМСЯ НА КОМАНДЫ</div>
          <p class="corporate__text">
            В команду может входить от 2-х до 9-и участников В команде один автомобиль или несколько
            автомобилей
          </p>
        </div>

        <div class="corporate__img-box corporate__img-box-right">
          <img
            class="corporate__img"
            src="../images/content/competitions/3.webp"
            alt="subacromial"
          />
        </div>
      </div>

      <div class="corporate__item">
        <div class="corporate__img-box corporate__img-box-left">
          <img
            class="corporate__img"
            src="../images/content/competitions/4.webp"
            alt="subacromial"
          />
        </div>

        <div class="corporate__box">
          <div class="corporate__caption">КОМАНДЫ ПОЛУЧАЮТ ЗАДАНИЯ</div>
          <p class="corporate__text">
            В зависимости от типа соревнований, мы предлагаем нашим клиентам компасы, карты,
            навигаторы, планшеты, ручки. Задача команд пройти за отведенное время как можно больше
            точек.
          </p>
        </div>
      </div>

      <div class="corporate__item">
        <div class="corporate__box">
          <div class="corporate__caption">СТАРТ ДАН</div>
          <p class="corporate__text"><span>Мастер-классы проводятся круглогодично</span></p>
          <p class="corporate__text"><strong>Есть 2 варианта стратегии:</strong></p>
          <p class="corporate__text">
            Разобраться в карте ещё на месте старта, и целенаправленно «брать» более лёгкие точки.
            Ехать к ближайшей точке и уже по пути принимать решение по поводу следующей
          </p>
          <p class="corporate__text">
            На каждой точке команда должна сделать фотографию своей команды. (а какие именно
            фотографии мы принимаем, всегда зависит от сложности точек)
          </p>
        </div>

        <div class="corporate__img-box corporate__img-box-right">
          <img class="corporate__img" src="../images/content/competitions/5.webp" alt="СТАРТ ДАН" />
        </div>
      </div>

      <div class="corporate__item">
        <div class="corporate__img-box corporate__img-box-left">
          <img
            class="corporate__img"
            src="../images/content/competitions/6.webp"
            alt="НЕЗАБЫВАЕМЫЕ ВПЕЧАТЛЕНИЕ ГАРАНТИРОВАНЫ"
          />
        </div>

        <div class="corporate__box">
          <div class="corporate__caption">НЕЗАБЫВАЕМЫЕ ВПЕЧАТЛЕНИЕ ГАРАНТИРОВАНЫ</div>
          <p class="corporate__text">
            Соревнования захватывают даже равнодушных, по пути к точкам им придётся застревать,
            преодолевать броды, канавы, вынимать своих собратьев.
          </p>
          <p class="corporate__text">
            Трофи-соревнования — это всегда командная работа, кто-то хорошо ориентируется в лесу,
            кто-то выполняет работу штурмана, кто-то быстро бегает, а другой член команды
            безошибочно находит метки.
          </p>
          <p class="corporate__text">
            В этой взрослой игре победят сильнейшие, но проигравших не будет!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
