<section class="subacromial">
    <div class="container">
        <h2 class="subacromial__title">КУПИТЬ ПОДАРОЧНЫЙ СЕРТИФИКАТ<span><br>НА ЛЮБОЙ</span>&nbsp;ДЖИП-ТУР</h2>
        <div class="subacromial__top">
            <ul class="subacromial__list">
                <li class="subacromial__item list-item">САМ СЕРТИФИКАТ</li>
                <li class="subacromial__item list-item">Быстрая доставка</li>
            </ul>

            <ul class="subacromial__list">
                <li class="subacromial__item list-item">Выбранный джип-тур</li>
                <li class="subacromial__item list-item">красивая подарочная упаковка</li>
            </ul>
        </div>
    </div>
</section>

<section class="subacromial-content">
    <div class="container">
        <h2 class="subacromial-content__title"><span>Сертификат</span> на джип-тур</h2>
        <div class="subacromial-content__inner">
            <div class="subacromial-content__item">
                <div class="subacromial-content__box">
                    <p class="subacromial-content__text">
                        <span>Джип тур с нами — это настоящее приключение</span> для самых смелых и отчаянных! Наши джип
                        туры
                        проходят по самым грязным уголкам Московской области — мы специально для вас нашли и
                        подготовили
                        трассы, которые отвечают самым высоким стандарта джиппинга! Мы не предлагаем вам тихую
                        прогулку
                        по лесу, мы предлагаем приключение за рулём полностью перекроенного и переделанного
                        автомобиля.
                    </p>
                    <p class="subacromial-content__text">
                        Да-да, вы сами управляете машиной, рядом сидит наш инструктор и показывает дорогу, он поможет
                        советом, подскажет и будет всячески помогать при необходимости. Наши инструктора — действующие
                        участники соревнований — всего их у нас 6. Все они обладают лицензией на обучение вождению, но
                        конечно же и этого мало и некоторые наши инструктора мастера автоспорта.
                    </p>
                </div>
                <div class="subacromial-content__img-box subacromial-content__img-box-right">
                    <img class="subacromial-content__img" src="../images/content/subacromial/1.jpg" alt="subacromial">
                </div>
            </div>

            <div class="subacromial-content__item">
                <div class="subacromial-content__img-box subacromial-content__img-box-left">
                    <img class="subacromial-content__img" src="../images/content/subacromial/2.jpg" alt="subacromial">
                </div>
                <div class="subacromial-content__box">
                    <p class="subacromial-content__text">
                        <span>Наши джип-туры проводятся круглогодично</span>, каждый сезон особенный, поэтому все наши
                        трассы имеют множество ответвлений, которые мы задействуем в зависимости от погодных условий.
                        Для зимы это склоны, на которые так тяжело взбираться, для лета это более глубокие участки рек и
                        ручьёв, д
                        ля осени и весны это колеи и овраги, в которых образуются глубокие лужи и можно засесть по самый
                        капот. Конечно же джипинг зимой кардинально отличается от джипинга летом, и мы организуем наши
                        джип туры таким образом, чтобы вы получили максимум эмоций и впечатлений! Самый грязный джипинг
                        весной и летом — не за
                        будьте резиновые сапоги! Летом джипинг скорее мокрый, но тёплый и мы рекомендуем лёгкую обувь,
                        которую можно будет снять по возвращению к месту старта! Зимой одевайтесь по п
                    </p>
                </div>
            </div>

            <div class="subacromial-content__item">
                <div class="subacromial-content__box">
                    <p class="subacromial-content__text">
                        <span>Сертификат на джип тур</span> — это прекрасный подарок для любого! Наша практика
                        показывает, что
                        и женщины и мужчины с удовольствием управляют внедорожником, поэтому мы предлагаем вам
                        подарочный сертификат, который позволит поехать в приключение в любой день в течение года!
                        Посм
                        отреть все наши джип-туры и выбрать наиболее подходящий именно вам вы можете на странице
                    </p>
                    <a class="subacromial-content__link" href="#">ВИДЫ ДЖИП-ТУРОВ и ЦЕНЫ</a>
                </div>
                <div class="subacromial-content__img-box subacromial-content__img-box-right">
                    <img class="subacromial-content__img" src="../images/content/subacromial/3.jpg" alt="subacromial">
                </div>
            </div>

            <div class="subacromial-content__item">
                <div class="subacromial-content__img-box subacromial-content__img-box-left">
                    <img class="subacromial-content__img" src="../images/content/subacromial/4.jpg" alt="subacromial">
                </div>
                <div class="subacromial-content__box">
                    <p class="subacromial-content__text">
                        <span>Купить сертификат на джип-тур можно в любой день</span>, возможна безналичная оплата или
                        оплата
                        курьеру.
                    </p>
                    <p class="subacromial-content__text">
                        Посмотрите наш ЭЛЕКТРОННЫЙ СЕРТИФИКАТ, который можно оплатить и получить моментально и поехать
                        кататься сразу же на следующий день после оплаты.
                    </p>
                    <a class="subacromial-content__link" href="#">Электронный сертификат</a>
                    <p class="subacromial-content__text">
                        <span class="subacromial-content__decor">ВНИМАНИЕ!</span> Джип
                        туры на майские праздники
                        разлетаются быстро,
                        в эти даты старайтесь бронировать машины заранее!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gift">
    <div class="container">
        <div class="gift__inner">
            <h2 class="gift__title"><span>Подарочные сертификаты</span></h2>
            <div class="gift__item gift__item-right">
                <div class="gift__box">
                    <p class="subacromial-content__text">
                        Наши подарочные сертификаты выполнены в классическом стиле на плотной бумаге цвета «слоновая
                        кость», с оригинальным тиснением. Каждый сертификат имеет уникальный номер и действителен в
                        течение года с момента покупки.
                    </p>

                    <p class="subacromial-content__text">
                        Каждый подарочный сертификат упакован в уникальный конверт ручной работы из дизайнерской бумаги
                        с серебристым тиснением. Конверт запаян сургучом с оттиском нашего логотипа, что добавляет
                        дизайну оригинальности
                    </p>
                </div>
                <div class="gift__img-box">
                    <img class="gift__img" src="../images/content/subacromial/11.png" alt="subacromial">
                </div>
            </div>

            <div class="gift__item gift__item-left">
                <div class="gift__img-box">
                    <img class="gift__img" src="../images/content/subacromial/12.jpg" alt="subacromial">
                </div>
                <div class="gift__box">
                    <h2 class="gift__title"><span>Подарочные карты</span></h2>
                    <p class="subacromial-content__text">
                        Кроме Подарочных сертификатов на наши джип-туры мы предлагаем клиентам совершенно новый продукт!
                        Это подарочные карты номиналом 5000, 10000 и 15000 рублей. Эти карты станут прекрасным и
                        оригинальным подарком вашим клиентам, коллегам, а также сотрудникам.
                    </p>

                    <p class="subacromial-content__text">
                        Подарочные карты можно складывать и использовать их сумму как плату за наши услуги. Если вы
                        подарите карты номиналом, например в 5000 рублей, вашим сотрудникам, то это позволит им сложить
                        их и получить целый джип-тур. Таким образом вы делаете не только незабываемый подарок, но и
                        позволяете коллективу провести совместный отдых, который несомненно пойдёт на пользу общему
                        коллективному духу.
                    </p>
                    <p class="subacromial-content__text">
                        Также такой сертификат станет хорошим подарком для менеджеров высшего звена. Мы умеем
                        организовывать VIP мероприятия и джиппинг на внедорожниках прекрасно сочетается с ними. Каждая
                        подарочная карта выпущена в единственном экземпляре, имеет уникальный номер и предлагает
                        активировать её в течение года со дня покупки. Это даст возможность клиенту выбрать
                        максимально-удобную дату для проведения его джип-тура. Дарите эмоции — это нравится людям!
                    </p>
                </div>
            </div>
        </div>
        <div class="gift__bottom">
            <span class="subacromial-content__decor">ВНИМАНИЕ!</span>
            <p class="subacromial-content__text">
                В стоимость подарочных сертификатов и подарочных карт ДОСТАВКА в пределах МКАД уже включена
            </p>
        </div>

    </div>
</section>