<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quests</title>
</head>

<body>
    <section class="top quests-page">
        <%= require('html-loader!./templates/header.html').default %>
            <div class="top__content">
                <div class="container">
                    <h1 class="page-title__big">Build your way</h1>
                    <div class="page-slogan">«ТАЛАНТ ВЫИГРЫВАЕТ ИГРЫ,А КОМАНДА –ЧЕМПИОНАТЫ!»</div>
                </div>
            </div>
    </section>

    <main class="main">
        <%= require('html-loader!./templates/page-quests.html').default %>
    </main>
    <%= require('html-loader!./templates/footer.html').default %>
</body>

</html>