<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subacromial</title>
</head>

<body>
    <section class="top subacromial-page">
        <%= require('html-loader!./templates/header.html').default %>
            <div class="top__content">
                <div class="container">
                    <h1 class="page-title"><span
                            class="subacromial-page__title-decor">ПОДАРОЧНЫЙ</span>&nbsp;СЕРТИФИКАТ&nbsp;<br>НА ДЖИП-ТУР
                    </h1>
                </div>
            </div>
    </section>
    <main class="main">
        <%= require('html-loader!./templates/page-subacromial.html').default %>
    </main>
    <%= require('html-loader!./templates/footer.html').default %>
</body>

</html>