html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    color: $text;
}

.container {
    max-width: 1490px; //сайта контейнер
    max-width: 1505px; //figma контейнер
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.cercle {
    @extend %f-c;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #FFAF3E;
    box-shadow: 0px 4px 44px rgba(255, 175, 62, 0.2);

    &-halo {
        @extend %f-c;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: rgba(255, 175, 62, 0.2);
    }

    &-border {
        @extend %f-c;
        border-radius: 50%;
        min-width: 34px;
        min-height: 34px;
        border: 1px solid rgba(255, 175, 62, 0.2);
    }
}