@media (max-width: 1270px) {
    .header__menu {
        margin-left: 0px;
    }

    .header__top-slogan {
        display: none;
    }

    .header__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 0px;
    }

    .menu__link {
        padding: 15px;
    }
}

@media (max-width: 992px) {
    .menu__btn {
        display: block;
    }

    .menu__item {
        margin: 15px 0;
    }

    .menu__list {
        flex-direction: column;
    }

    .header__box {
        display: none;
    }

    .header__info-btn {
        display: none;
    }

    .header__bottom {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        background-color: rgb(5, 5, 5);
        flex-direction: column;
        transform: translateY(-500px);
        transition: transform .3s;
    }

    .header__bottom.active {
        transition: transform .3s;
        transform: translateX(0);
    }


    .description__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        counter-reset: name 0;
        padding-bottom: 97px;
    }

    .description__item {
        max-width: 100%;
    }

    .bye-certificate__content,
    .bye-certificate__item {
        flex-direction: column;
    }

    .bye-certificate__content-col:first-child {
        margin-bottom: 47px;
    }

}

@media (max-width: 768px) {
    .header__info-phone {
        display: none;
    }
}

@media (max-width: 640px) {}

@media (max-width: 450px) {

    .footer {
        &-content__inner {
            justify-content: center;
            flex-direction: column;
            padding: 24px 0;
            text-align: center;
        }

        &__slogan {
            font-size: 11px;
            line-height: 23px;
        }

        &-contacts__link-tel {
            font-size: 17px;
            line-height: 28px;
        }

        &__copy {
            justify-content: center;

            &-text,
            &-desc {
                display: none;
            }
        }
    }
}