@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.top {
    background-image: url(../images/top-bg/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 930px;
    color: #FFFFFF
}

.header {
    background: rgba(39, 36, 36, 0.8);
}

.header__box {
    border-bottom: 1px solid #666666;
}

.header__top {
    @extend %f-b;
    padding: 14px 0;
}

.header__top-slogan,
.header__top-working-text {
    @extend %os-600;
    font-size: 13px;
    line-height: 23px;
    text-transform: uppercase;
}

.header__top-working-hours {
    color: #FFFFFF;
}

.header__top-messenger {
    color: #FFFFFF;
    padding-left: 30px;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.header__top-messenger:first-child {
    margin-right: 22px;
}

.header__top-watsapp,
.header__top-telegram {
    position: relative;
}

.header__top-watsapp::before {
    content: url(../images/icons/whatsapp.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.header__top-telegram::before {
    content: url(../images/icons/telegram.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.header__info {
    @extend %f-b;
}

.header__info-phone {
    position: relative;
    @extend %f-b;
    flex-direction: column;
    padding-left: 45px;

    &::before {
        content: url(../images/icons/phone-top.svg);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.header__info-phone-link {
    color: #FFFFFF;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.header__info-phone-link:first-child {
    margin-bottom: 10px;
}

.header__logo {
    max-width: 365px;
    padding: 20px 0;
}


.header__info-btn {
    @extend %os-700;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 25px;
    gap: 10px;
    width: 170px;
    height: 62px;
    background-color: $accent;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        background-color: darken($color: $accent, $amount: 13%);
    }
}

.header__bottom {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 130px;
    grid-template-rows: 1fr;
    grid-column-gap: 186px;
    padding-bottom: 10px;
}

.header__menu {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 70px;
}

.header__social {
    @extend %f-b;
    gap: 4px;
    grid-area: 1 / 2 / 2 / 3;
}

.menu__list {
    @extend %f-b;
}

.menu__btn {
    display: none;
    width: 25px;
    height: 25px;
    background-image: url(../images/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 122px;
}

.menu__close {
    display: none;

    &.active {
        display: block;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        margin: 20px 20px 0 auto;
    }
}

.menu__link {
    @extend %os-600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 25px;
    transition: all .3s;
    white-space: nowrap;
    position: relative;

    &:hover {
        transition: color .3s;
        color: $accent;
    }

    &-drop:after {
        content: url(../images/icons/down.png);
        position: absolute;
        top: 17px;
        right: 0;
    }
}

.header__social-link:hover svg {
    transition: transform .3s;
    transform: scale(1.1)
}



.top__content {}

.page-title {
    @extend %page-title;
}




/* FOOTER */

.footer {
    &__logo {
        margin-bottom: 10px;
    }

    &__slogan {
        @extend %os-600;
        font-size: 13px;
        line-height: 23px;
        text-transform: uppercase;
        color: $title;
    }

    &__item {
        margin-bottom: 4px;
    }

    &__link {
        font-size: 14px;
        line-height: 33px;
        color: $footer-text;

        &:hover {
            color: darken($color: $title, $amount: 20%);
        }
    }

    &__social {
        @extend %f-b;
        width: 250px;
        transition: transform .3s;

        &-link:hover svg {
            transition: transform .3s;
            transform: translateY(-3px);
        }
    }

    &__copy {
        @extend %f-b;
        flex-wrap: wrap;

        &-text {
            font-size: 24px;
            line-height: 23px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: $footer-text;
        }

        &-desc {
            font-size: 14px;
            line-height: 33px;
            color: $footer-text;
        }
    }

    &-content {
        background-color: $accent;

        &__inner {
            position: relative;
            @extend %f-b;
            flex-wrap: wrap;
            gap: 20px;
            padding: 50px 0 40px;

            &::before {
                content: url(../images/content/footer-decor.svg);
                position: absolute;
                top: -70px;
                left: 0;
            }
        }

        &__address {
            @extend %os-600;
            font-style: normal;
            font-size: 14px;
            line-height: 23px;
            color: $footer-text;
            margin-top: 12px;
        }
    }

    &-contacts {
        &__title {
            @extend %os-600;
            font-size: 13px;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 4px;
            color: $footer-text;
        }

        &__link {
            @extend %os-600;
            font-size: 14px;
            line-height: 23px;
            color: $footer-text;
        }
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';