@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.top {
    background-image: url(../images/top-bg/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 930px;
    color: #FFFFFF
}

.header {
    background: rgba(39, 36, 36, 0.8);
}

.header__box {
    border-bottom: 1px solid #666666;
}

.header__top {
    @extend %f-b;
    padding: 14px 0;
}

.header__top-slogan,
.header__top-working-text {
    @extend %os-600;
    font-size: 13px;
    line-height: 23px;
    text-transform: uppercase;
}

.header__top-working-hours {
    color: #FFFFFF;
}

.header__top-messenger {
    color: #FFFFFF;
    padding-left: 30px;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.header__top-messenger:first-child {
    margin-right: 22px;
}

.header__top-watsapp,
.header__top-telegram {
    position: relative;
}

.header__top-watsapp::before {
    content: url(../images/icons/whatsapp.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.header__top-telegram::before {
    content: url(../images/icons/telegram.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.header__info {
    @extend %f-b;
}

.header__info-phone {
    position: relative;
    @extend %f-b;
    flex-direction: column;
    padding-left: 45px;

    &::before {
        content: url(../images/icons/phone-top.svg);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.header__info-phone-link {
    color: #FFFFFF;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.header__info-phone-link:first-child {
    margin-bottom: 10px;
}

.header__logo {
    max-width: 365px;
    padding: 20px 0;
}


.header__info-btn {
    @extend %os-700;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 25px;
    gap: 10px;
    width: 170px;
    height: 62px;
    background-color: $accent;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        background-color: darken($color: $accent, $amount: 13%);
    }
}

.header__bottom {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 130px;
    grid-template-rows: 1fr;
    grid-column-gap: 186px;
    padding-bottom: 10px;
}

.header__menu {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 70px;
}

.header__social {
    @extend %f-b;
    gap: 4px;
    grid-area: 1 / 2 / 2 / 3;
}

.menu__list {
    @extend %f-b;
}

.menu__btn {
    display: none;
    width: 25px;
    height: 25px;
    background-image: url(../images/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 122px;
}

.menu__close {
    display: none;

    &.active {
        display: block;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        margin: 20px 20px 0 auto;
    }
}

.menu__link {
    @extend %os-600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 25px;
    transition: all .3s;
    white-space: nowrap;
    position: relative;

    &:hover {
        transition: color .3s;
        color: $accent;
    }

    &-drop:after {
        content: url(../images/icons/down.png);
        position: absolute;
        top: 17px;
        right: 0;
    }
}

.header__social-link:hover svg {
    transition: transform .3s;
    transform: scale(1.1)
}

.page-title {
    @extend %page-title;
}

/* CLASS */

.box {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.offer {
    padding: 163px 0 107px;
}

.offer__inner {
    display: flex;
    gap: 42px;
}

.offer__title {
    @extend %title;
    margin-bottom: 89px;
}

.offer__slider {
    display: flex;
    gap: 10px;
}

.offer__slider-title {
    @extend %osc-700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 25px;
}

.offer__slider-info-box {
    display: flex;

    column-gap: 24px;
    padding-top: 47px;
}

.offer__slider-item {
    position: relative;
    @extend %os-600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #466F82;
    margin-bottom: 28px;
    padding-left: 50px;

    &:before {
        position: absolute;
        top: -6px;
        left: 0;
        content: url(../images/icons/item-dots.svg);
    }
}

.offer__slider-link {
    @extend %btn;
    font-size: 20px;
    line-height: 27px;
    height: 68px;
    text-transform: uppercase;
    padding: 12px 30px;
}

.offer__slider-rew {
    width: 240px;
    @extend %btn-accent;

    span {
        margin-left: 30px;
    }
}

.offer__slider-prev {
    color: $accent;
    border: 2px solid $accent;
    transition: border color .3s;

    &:hover {
        transition: border color .3s;
        color: darken($color: $accent, $amount: 12%);
        border: 2px solid darken($color: $accent, $amount: 12%);
    }
}

.bye-certificate {}

.bye-certificate__title {
    @extend %title;
    text-align-last: left;
    margin-bottom: 52px;
}

.bye-certificate__inner {
    background: #F9F9F9;
    border: 2px solid #CED9DE;
    margin-bottom: 103px;
}

.bye-certificate__item {
    @extend %f-b;
    padding: 30px;
    border-bottom: 2px solid #CED9DE;
}

.bye-certificate__name {
    @extend %os-600;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: $title;
}

.bye-certificate__box {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.bye-certificate__line {
    width: 87px;
    height: 2px;
    background: $title;
}

.bye-certificate__del {
    @extend %osc-300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: $title;
}

.bye-certificate__ins {
    @extend %osc-700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    text-decoration-line: none;
}

.bye-certificate__btn {
    @extend %btn-accent;
    padding: 12px 30px;
}

.btn__buy span {
    margin-left: 30px;
}

.bye-certificate__content {
    @extend %f-b;
    padding: 30px 100px;
    background: #FFFFFF;
}

.bye-certificate__content-col {
    display: flex;
    flex-direction: column;
    row-gap: 47px;
    width: 500px;
}

.bye-certificate__content-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.bye-certificate__content-item {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.bye-certificate__content-title {
    @extend %os-700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: $title;
}

.bye-certificate__content-slogan {
    font-size: 20px;
    line-height: 27px;
    color: $title;
}

.bye-certificate__descr-text {
    color: $title;
}

.package {
    padding: 97px 0;
}

.package__title {
    @extend %subtitle;
    margin-bottom: 55px;
}

.package__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.package__item {
    display: flex;
    flex-direction: column;
    width: 403px;
    border: 1px solid #466F82;
    padding: 30px;
}

.package__item-content {
    flex-grow: 1;
    margin: 37px 0;
}

.package__subtitle {
    @extend %os-700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 20px;
}

.package__text {
    margin-bottom: 20px;
}

.package__btn {
    @extend %btn-accent;
    padding: 12px 30px;
    width: 100%;
}

/* FOOTER */

.footer {
    margin-top: 214px;

    &__logo {
        margin-bottom: 10px;
    }

    &__slogan {
        @extend %os-600;
        font-size: 13px;
        line-height: 23px;
        text-transform: uppercase;
        color: $title;
    }

    &__item {
        margin-bottom: 4px;
    }

    &__link {
        font-size: 14px;
        line-height: 33px;
        color: $footer-text;

        &:hover {
            color: darken($color: $title, $amount: 20%);
        }
    }

    &__social {
        @extend %f-b;
        width: 250px;
        transition: transform .3s;

        &-link:hover svg {
            transition: transform .3s;
            transform: translateY(-3px);
        }
    }

    &__copy {
        @extend %f-b;
        flex-wrap: wrap;

        &-text {
            font-size: 24px;
            line-height: 23px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: $footer-text;
        }

        &-desc {
            font-size: 14px;
            line-height: 33px;
            color: $footer-text;
        }
    }

    &-content {
        background-color: $accent;

        &__inner {
            position: relative;
            @extend %f-b;
            flex-wrap: wrap;
            gap: 20px;
            padding: 50px 0 40px;

            &::before {
                content: url(../images/content/footer-decor.svg);
                position: absolute;
                top: -70px;
                left: 0;
            }
        }

        &__address {
            @extend %os-600;
            font-style: normal;
            font-size: 14px;
            line-height: 23px;
            color: $footer-text;
            margin-top: 12px;
        }
    }

    &-contacts {
        &__title {
            @extend %os-600;
            font-size: 13px;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 4px;
            color: $footer-text;
        }

        &__link {
            @extend %os-600;
            font-size: 14px;
            line-height: 23px;
            color: $footer-text;
        }
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';